* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
}

#collection-header{
    font-size: 2.75rem;
    font-weight: 600;
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5rem;
}

#back-to-form {
    text-align: center;
}

.form-button {
    width: 7rem;
    border-radius: 12px;
    color: #FFF;
    background-color: #8BEB94;
}

.collection-container {
    margin-top: 5rem;
    text-align: center;
}

.feedback-container {
    padding-top: 1rem;
}

.card {
    margin: 2rem auto;
    border-radius: .75rem;
    border-color: coral;
}

.delete-button {
    margin-top: .75rem; 
}

@media only screen and (max-width: 420px) {
    #collection-header {
        font-size: 2.25rem;
    }
}