* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #62DBC5;
}

.feedback-container {
    margin-top: 5rem;
    background-color: aqua;
}

#feedback-tagline, #feedback-secondTagline {
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#feedback-tagline {
    font-weight: 600;
    margin-bottom: 2.25rem;
}

#feedback-secondTagline {
    font-weight: 500;
}