{% load static %}

{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
<title>Home - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container home-container">
        <h1 id="home-tagline">Welcome to NCovid!</h1>
        <h2 id="second-tagline">Mapping the Coronavirus Outbreak Across Indonesia</h2>
        <div class="feature-container">
            <h2 id="feature-tagline">Features</h2>
                <div class="features">
                    <div class="feature-item">
                        <div class="feature-icon rounded-circle">
                            <img class="feature-img" src="{% static 'images/covid-map.svg' %}" alt="covid-map">
                        </div>
                        <p class="feature-text">COVID-19 DISTRIBUTION MAP</p>
                    </div>
                    <div class="feature-item">
                        <div class="feature-icon rounded-circle">
                            <img class="feature-img" src="{% static 'images/simulation.svg' %}" alt="simulation">
                        </div>
                        <p class="feature-text">SIMULATION</p>
                    </div>
                    <div class="feature-item">
                        <div class="feature-icon rounded-circle">
                            <img class="feature-img" src="{% static 'images/tips.svg' %}" alt="tips">
                        </div>
                        <p class="feature-text">TIPS TO PREVENT COVID-19</p>
                    </div>
                    <div class="feature-item">
                        <div class="feature-icon rounded-circle">
                            <img class="feature-img" src="{% static 'images/feedback.svg' %}" alt="feedback">
                        </div>
                        <p class="feature-text">FEEDBACK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>

</html>