{% load static %}

{% include '../header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock css %}

{% block title %}
<title>Feedback - NCoivd</title>
{% endblock title %}

<body>
    {% include '../navbar.html' %}
    <div class="container feedback-container">
        <h1 id="feedback-tagline">We want to hear from you!</h1>
        <h3 id='feedback-secondTagline'>What do you think about this website?</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.feedback_description }}
            </div>
            <section id="submit-container">
                <button id="submit-button" type="submit" class="btn">
                    SUBMIT
                </button>
            </section>
        </form>
    </div>
    {% include '../footer.html' %}
    {% include '../script.html' %}
</body>

</html>