{% load static %}

{% include '../header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/feedbackCollection.css' %}">
{% endblock css %}

{% block title %}
<title>Collection - NCovid</title>
{% endblock title %}

<body>
    {% include '../navbar.html' %}
    <div class="container collection-container">
        <h3 id="collection-header">Visitor impression</h3>
        <section id="back-to-form">
            <a href="{% url 'feedback' %}" class="btn form-button">FORM</a>
        </section>
        <div class="container feedback-container">
            <div class="row">
                {% for item in data %}
                    <div class="col-sm col-md-*">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.email }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ item.feedback_description }}</h6>
                                <a href="{% url 'deleteFeedback' item.id %}" class="card-link btn btn-outline-danger delete-button">DELETE</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include '../footer.html' %}
    {% include '../script.html' %}
</body>

</html>