* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
}

.home-container {
    min-height: calc(100vh - 210px);
    display: block;
    position: relative;
    margin-top: 6rem;
    color: #1C6559;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#feature-tagline {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    width: 650px;
    margin: auto;
    margin-bottom: 5%;
}

.map {
    margin-bottom: 20px;
}

.status {
    color: white;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 5px;
}

.g-icon {
    height: 2.25rem;
}

.date {
    min-width: 125px;
}

.add {
    color: #1C6559;
    font-size: 2rem!important;
}

.showAll {
    color: #1C6559;
    font-weight: 500;
}

.showAll:hover {
    color: #0a3d35;
}

@media screen and (max-width: 768px) {
    .home-container {
        margin-top: 2rem;
    }
    #feature-tagline {
        font-size: 2rem;
        max-width: 18ch;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    #feature-tagline {
        font-size: 1.7rem;
    }
}

/* That damn Galaxy Fold */
@media screen and (max-width: 320.5px) {
    #feature-tagline {
        font-size: 1.25rem;
    }
}