{% load static %}

{% include 'header.html' %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/simulation.css' %}">
{% endblock %}

{% block title %}
<title>Simulation - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}

    <div class="container base-container">            
        <h2 class="feature-tagline" style="text-align: center;">ACTIVE CASE SIMULATOR</h2>
            <div class="forms-card" id="forms-card-simulation-container">
                <h3 class="forms-question" style="text-align: center;">Simulate expected daily test count to get predicted new daily active cases.</h3><br>
                <div id="forms-card-simulation">
                    <form action="/simulation/result/" method="POST" style="margin-left: 2rem;">
                        
                        {% csrf_token %}
                        {% for field in test_form %}
                            {{ field }}
                        {% endfor %}
                        
                        <br>
                        <div style="text-align: center; margin-top: 1rem;">
                            <button type="submit" name="test_simulation" class="survey-button">Simulate</button>
                        </div>
                        
                    </form>
                </div>
            </div> 
            
            <hr style="border-width: 0.2rem;"/>

        <h2 class="feature-tagline" style="text-align: center; margin-top: 2rem;">PROTOCOL OBEDIENCE SURVEY</h2>
        <div class="card-text" style="text-align: center;">
            Out of people who have taken the survey, ...
            <!-- Summing up your protocol obedience regarding COVID-19 pandemic -->
        </div>
        <div class="container">
            <div class="row percentage-list">
                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ mask_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Wear Masks Properly <br> in Public Places</p>
                    </div>
                </div>

                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ pd_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Aware of and Practice <br> Physical Distancing</p>
                    </div>
                </div>

                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ sanitize_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Wash or Sanitize Hands <br> and Disinfect Regularly</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="forms-card">
            <form action="/simulation/score/" method="POST">
                {% csrf_token %}
                {% for field1 in mask_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field1.auto_id }}">{{ field1.label }}</label>
                    {{ field1 }}
                {% endfor %}
        
                {% for field2 in pd_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field2.auto_id }}">{{ field2.label }}</label>
                    {{ field2 }}
                {% endfor %}
        
                {% for field3 in sanitize_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field3.auto_id }}">{{ field3.label }}</label>
                    {{ field3 }}
                {% endfor %}
                
                <div class="forms-card" id="forms-card-survey-button">
                    <div id="forms-card-survey-button">
                        <button type="submit" name="survey_submission" class="survey-button">Submit</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>
