{% load static %}

{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'fitur/tips.css' %}">
{% endblock %}

{% block title %}
<title>Tips - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    <div class="home-container">
      <h2 id= "feature-tagline" style="text-align: center;">TIPS TO PROTECT YOURSELF FROM CORONAVIRUS</h2>
        <!-- <div class="row justify-content-center">
          <div class="col-8"> -->
            <h2>Enter Your Tips Advice Here</h2>
            <hr class="mt-0 mb-4">
            <form method="POST">
              {% csrf_token %}
              {{ form }}
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              <a type="button" class="btn btn-light" href="{% url 'fitur:tips_list' %}"><b>Back</b></a>
            </form>
          
            <br>
    </div>
       
   
    
</body>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
