{% load static %}

{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'fitur/tips.css' %}">

{% endblock css %}

{% block title %}
<title>Tips - NCovid</title>
{% endblock title %}


<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    <div class="home-container">
      <h2 id= "feature-tagline" style="text-align: center;">TIPS TO PROTECT YOURSELF FROM CORONAVIRUS</h2>
        <div class="row justify-content-center">
          <div class="col-8">
             
                {% for i in listp %}
                <div class="card" style="border-radius: 20px;">
                    <div class="card-body" style="margin: auto;">
                      <div style="margin: auto; text-align: center;"><b>{{ i.tips }}</b></div>
                    </div>
                </div>
                {% endfor %}
              
            <br>
            <a class="btn btn-dark" style="margin-bottom: 40px;" href="{% url 'fitur:tips_form' %}"><b>Add Tips</b></a>
            
        </div>
      </div>
    </div>
    

    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>