{% load static %}
{% load crispy_forms_tags %}

{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/maps.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Reports - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container home-container">
        <h2 id="feature-tagline">REPORTS<div class="btn">
            <a href="/maps/report/"><i class="material-icons add">add_box</i></a>
        </div></h2>
        {% if data.first != None %}
        <table class="table table-striped table-light table-responsive-lg mb-4">
            <tr style="background-color: #1FAD95; color: white;">
                <th scope="col">No</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
                <th scope="col">Province</th>
                <th scope="col">City</th>
                <th scope="col">Date Added</th>
            </tr>
            {% for item in data reversed %}
                <tr>
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle">{{ item.age }}</td>
                    <td class="align-middle">
                        {% if item.gender == 'F' %}
                        <img src="{% static 'images/female.png' %}" class="g-icon">
                        {% else %}
                        <img src="{% static 'images/male.png' %}" class="g-icon">
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <span class="status" style="
                            color: white; 
                            background-color: 
                                {% if item.status == 'Positive' %}
                                    #dc3545;
                                {% elif item.status == 'Recovered' %}
                                    #28a745;
                                {% else %}
                                    #ffc107;
                                {%endif%}
                            ">{{ item.status }}
                        </span>
                    </td>
                    <td class="align-middle">{{ item.province }}</td>
                    <td class="align-middle">{{ item.city }}</td>
                    <td class="date align-middle">{{ item }} WIB</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="col-8 text-black mx-auto">
          <h4>There are no data yet...😷</h4>
        </div>
        {% endif %}
        <br><br>
    </div>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>