{% load static %}
{% load crispy_forms_tags %}

{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/maps.css' %}">
{% endblock %}

{% block title %}
<title>Self Report - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container home-container">
        <h2 id="feature-tagline">SELF REPORT</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row text-left mx-4">
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="col-md-4">{{ form.age|as_crispy_field }}</div>
                        <div class="col-md-8">{{ form.gender|as_crispy_field }}</div>
                    </div>
                    {{ form.status|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.province|as_crispy_field }}
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/maps" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
        <br>
    </div>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>