* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
}

.home-container {
    margin-top: 5rem;
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/*
    Home Tagline Styling
*/
#home-tagline {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#second-tagline {
    opacity: 80%;
    font-size: 2rem;
    font-weight: 600;
}

/*
    Feature Tagline Styling
*/
.feature-container {
    margin-top: 5rem;
    margin-bottom: 8rem;
}

#feature-tagline {
    color: #1C6559;
    font-size: 4rem;
    text-align: left;
    font-weight: 700;
}

/*
    Card Styling
*/
.features {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.feature-item {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 220px;
    height: 220px;
}

.feature-img {
    width: 7.5rem;
    margin: auto;
}

.feature-text {
    max-width: 16ch;
    margin: 1rem auto;
    color: #1C6559;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width: 991.5px) {
    #home-tagline {
        text-align: left;
    }

    #second-tagline {
        text-align: left;
        max-width: 25ch;
    }

    .features {
        flex-wrap: wrap;
        padding: 0 50px;
    }
}

@media screen and (max-width: 767.5px) {
    .home-container {
        padding-left: 3rem!important;
        margin-top: 4rem;
    }

    #home-tagline {
        font-size: 4rem;
    }

    #second-tagline {
        font-size: 1.9rem;
    }

    #feature-tagline {
        font-size: 3rem;
    }

    .features {
        flex-direction: column;
        justify-content: left;
        padding: 0;
    }

    .feature-item {
        flex-direction: row;
        margin: 1rem 0;
        text-align: left;
    }

    .feature-icon {
        width: 125px;
        height: 125px;
    }

    .feature-img {
        width: 4.25rem;
    }

    .feature-text {
        font-size: 1.5rem;
        margin: auto 0;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 575.5px) {
    .home-container {
        padding-left: 2rem!important;
        margin-top: 3rem;
    }

    #home-tagline {
        font-size: 3rem;
        max-width: 10ch;
    }

    #second-tagline {
        font-size: 1.5rem;
    }

    .feature-container {
        margin-bottom: 4rem;
    }

    #feature-tagline {
        font-size: 2.5rem;
    }

    .feature-item {
        margin: 0.75rem 0;
    }

    .feature-icon {
        width: 100px;
        height: 100px;
    }

    .feature-img {
        width: 3.25rem;
    }

    .feature-text {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 359.5px) {
    .home-container {
        padding-left: 1.5rem!important;
        margin-top: 2rem;
    }

    .feature-icon {
        width: 65px;
        height: 65px;
    }

    .feature-img {
        width: 2.25rem;
    }

    .feature-text {
        font-size: 1rem;
    }
}